*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
.header{
  text-align: left;
}

/* Slider for alternate way of selecting number */
#lengthRange {
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-user-select: none;
    appearance: none;
    width: 69%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 6px;
    margin-top: 16px;
  }

#lengthRange::-webkit-slider-runnable-track{
  -webkit-appearance: none;  /* Override default CSS styles */
  -moz-user-select: none;
  appearance: none;
  cursor: pointer;
}

/* Remove border from slider in firefox */
#lengthRange::-moz-focus-outer {
  border: 0;
  }

/* Mouse-over effects */
#lengthRange:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* Slider thumb appearance for chrome */
#lengthRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;  
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: hsl(360, 91%, 36%); /* Red background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 25px;
}

/* Slider thumb appearance for mozilla */
#lengthRange::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;  
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: hsl(360, 91%, 36%); /* Red background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 25px;
}

/* Slider thumb appearance for IE */
#lengthRange::-ms-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;  
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: hsl(360, 91%, 36%); /* Red background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 25px;
}

/* Number textbox */
#lengthNumber{
  border-radius: 6px;
  width: 90px;
  height: 40px;
  outline: none;
  border-color: hsl(360, 91%, 36%);
  font-size: 150%;
  font-weight: bolder;
  color: hsl(206, 17%, 28%);
  display:inline-block;
  text-align: right;
}
/* Remove up and down arrow from number textbox */
#lengthNumber::-webkit-outer-spin-button, #lengthNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;  /* Override default CSS styles */
  -moz-user-select: none;
  appearance: none;
}

/* Display check or uncheck depending on validity state */
input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}
input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

.container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.checkbox {
  margin: 15px auto;
  position: relative;
  display: inline;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid black;
}
.checkbox label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid hsl(360, 91%, 36%);
  border-left: 2px solid hsl(360, 91%, 36%);
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  color: hsl(360, 91%, 36%);
}
.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}
.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  /* vertical-align: sub; */
}
.checkbox label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}

.checkBtns {
  display: block;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;

  padding: 10px;
}