*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
.header{
  text-align: left;
}
#lengthRange {
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-user-select: none;
  /* -ms-user-select: none; */
    appearance: none;
    width: 69%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 6px;
    margin-top: 16px;
  }

/* Mouse-over effects */
#lengthRange:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#lengthRange::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  -moz-user-select: none;
  /* -ms-user-select: none; */
  appearance: none;  
  width: 50px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: hsl(360, 91%, 36%); /* Red background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 25px;
}

#lengthNumber{
  border-radius: 6px;
  width: 90px;
  height: 40px;
  outline: none;
  border-color: hsl(360, 91%, 36%);
  font-size: 150%;
  font-weight: bolder;
  color: hsl(206, 17%, 28%);
  display:inline-block;
  text-align: right;
}
#lengthNumber::-webkit-outer-spin-button, #lengthNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;  /* Override default CSS styles */
  -moz-user-select: none;
  /* -ms-user-select: none; */
  appearance: none;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

.form {
  display: inline-block;
  text-align: center;
}
